* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #FC9D54;
    box-shadow: 0px 5px 4px #fc9d548f;
    padding: 20px;
    margin-bottom: 40px;
}

nav {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.homeBtn, .menuBtn, .contactBtn {
    font-weight: bold;
    color: #17234E;
    background-color: #FEBD55;

    border-color: #284167;
    border-radius: 15px;
    font-size: 1.05rem;
    padding: 20px 25px;
    cursor: pointer;
}

body {
    background-color: #ffcc7b;
}

#content {
    background-color: #FE5B54;
    border-radius: 30px;
    max-width: 810px;
    padding: 55px;
    margin: 0 auto;
}


.header {
    background-color: #FEBD55;
    border: 5px solid #284167;
    border-radius: 10px;
    font-size: 3rem;

    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}




.text {
    background-color: greenyellow;
    margin-bottom: 20px;
}

.hours {
    background-color: blueviolet;
    margin-bottom: 20px;
}

.location {
    background-color: pink;
    margin-bottom: 20px;
}