* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #FC9D54;
    box-shadow: 0px 5px 4px #fc9d548f;
    padding: 20px;
    margin-bottom: 40px;
}

nav {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.homeBtn, .menuBtn, .contactBtn {
    font-weight: bold;
    color: #17234E;
    background-color: #FEBD55;

    border-color: #284167;
    border-radius: 15px;
    font-size: 1.05rem;
    padding: 20px 25px;
    cursor: pointer;
}

body {
    /*background-color: #ffcc7b;*/
    background: linear-gradient(#ffcc7b, #FE5B54);
}

#content {
    background-color: #FE5B54;
    border-radius: 30px;
    max-width: 810px;
    padding: 55px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.menuHead,
.header {
    background-color: #FEBD55;
    border: 5px solid #284167;
    border-radius: 10px;
    font-size: 3.2rem;

    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 60px;
}

.text {
    background-color: #FEBD55;
    border: 5px solid #284167;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.2rem;

    width: 70%;
    margin: auto;
    margin-bottom: 40px;
}

.item,
.hours {
    background-color: #FEBD55;
    border: 5px solid #284167;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.2rem;
    text-align: center;

    width: 70%;
    margin: auto;
    margin-bottom: 40px;
}

.hourHead {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding-left: 10px;
}

.location {
    background-color: #FEBD55;
    border: 5px solid #284167;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.2rem;
    text-align: center;

    width: 70%;
    margin: auto;
}

.locHead {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding-left: 10px;
}

.image {
    position: absolute;
    left: 50;
    bottom: 0;
    top: 140px;
}

.image2 {
    position: absolute;
    left: 900px;
    bottom: 0;
    top: 200px;
}


.main,
.drinks,
.sides {
    background-color: #FEBD55;
    border: 5px solid #284167;
    border-radius: 10px;
    font-size: 2rem;

    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
}


.item {
    text-align: left;
}

.itemHead {
    margin-bottom: 15px;
}

.price,
.description {
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
}



.box {
    border: 3px solid #FE5B54;
    border-radius: 10px;
    height: 300px;
    width: 200px;

    margin-left: 200px;
}

ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

a {
    text-decoration: none;
}


a:visited {
    color: black;
}