* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #FC9D54;
    padding: 20px;
}

nav {
   display: flex;
   gap: 50px;
   justify-content: center;
   align-items: center;
}

.homeBtn, .menuBtn, .contactBtn {
    font-weight: bold;
    color: #17234E;
    background-color: #FEBD55;

    border: none;
    border-radius: 15px;
    font-size: 1.05rem;
    padding: 20px 25px;
    cursor: pointer;
}


